<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter Information</h1>
    <main>
        <fieldset>
            <form action="/entry" method="POST">
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" id="firstname"><br><br>

                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" id="lastname"><br><br>

                <label for="pnumber">Phone Number</label>
                <input type="tel" name="pnumber" id="pnumber"><br><br>

                <label for="email">Email</label>
                <input type="email" name="email" id="email"><br><br>

                <label for="entryTime">Entry Time</label>
                <input type="time" name="entryTime" id="entryTime"><br><br>

                <input type="submit" name="submit" id="submit">

            </form>
        </fieldset>
    </main>
</body>
</html>